
  <div class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat" style="background-image:url('../../../../assets/background2.jpg')">
    <div class="rounded-xl bg-white bg-opacity-40 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8">
      <div class="text-white">
        <div class="mb-8 flex flex-col items-center">
          <img src="../../../../assets/logo.png" width="300" alt="" srcset="" />
    
        </div>

        <form [formGroup]="signinForm" (ngSubmit)="usersubmit()" class="mt-12">
          <div class="mb-4 text-lg ">
            <input formControlName="email" name="email"  class="rounded-3xl border-none bg-gray-900 bg-opacity-50 px-12 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md" type="text" name="name" placeholder="Enter your email" />
          </div>
  
          <div class="mb-4 text-lg">
            <input formControlName="password" name="password" class="rounded-3xl border-none bg-gray-900 bg-opacity-50 px-12 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md" type="Password" name="name" placeholder="*********" />
          </div>
          <div class="mt-8 flex justify-center text-lg text-black">
            <button type="submit" class="rounded-3xl bg-pink-600 px-10 py-2 text-white shadow-xl backdrop-blur-md transition-colors duration-300 hover:bg-pink-700">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>